{% extends 'base.html'  %}

{% block content %}
<div class="jumbotron jumbotron-fluid py-2" style="background-color:transparent">
        <div>
            <h1 class="display-4 text-white">Login</h1>
            <p class="lead text-black-50">Please login to view feeds and edit your posts.</p>
        </div>
</div>
{% for field in form.errors %}
{% for error in form.errors[field] %}
    <div class="alert alert-error">
        <strong>Error!</strong> {{error}}
    </div>
{% endfor %}
{% endfor %}
<form method = "post">
    {{ form.hidden_tag() }}
    <div class="form-group">
            {{ form.username.label }} {{ form.username(class="form-control", placeholder="Enter Username") }}
    </div>
    <div class="form-group">
            {{ form.password.label }} {{ form.password(class="form-control", placeholder="Password") }}
    </div>
    <div class="d-flex">{{ form.submit (class = "btn btn-danger w-25 mx-auto btn-lg mt-5")}}</div>
</form>

{% endblock %}